.navbar {
    all: initial;
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.windows-task {
    display: flex;
    justify-content: center;
}

.windows-task img {
  margin: 5px;
}
