<div class="navbar">
    <div class="windows-task">
      <img (click)="menuVisible()" src="https://img.icons8.com/color/48/000000/windows-11.png" style="width: 4vh;"/>
      <img (click)="expVisible()" src="https://img.icons8.com/color/50/000000/ms-outlook.png" style="width: 4vh;"/>
      <img src="https://img.icons8.com/color/48/000000/search--v1.png" style="width: 4vh;"/>
      <img src="https://img.icons8.com/color/48/000000/documents-folder.png" style="width: 4vh;"/>
      <img src="https://img.icons8.com/color/48/000000/recycle-bin.png" style="width: 4vh;"/>
      <img src="https://img.icons8.com/color/48/000000/ms-edge.png" style="width: 4vh;"/>
    </div>
  </div>

<img class="bg" src="../assets/bg.jpg">

<a target="_blank" href="https://drive.google.com/file/d/1CTxh9CNogpjZLejUzx7ZYdfqzPK8VgXU/view?usp=sharing">
    <div class="resume" [ngStyle]="{'top': topRes + 'px', 'left': leftRes + 'px'}" (mouseleave)="mouseLeft($event)">
        <img src="https://img.icons8.com/officel/80/000000/open-resume.png" style="width: 6vh;"/>
        <figcaption>Resume</figcaption>
    </div>
</a>

<div class="menu" [style.visibility]="isDivVisible ? 'visible' : 'hidden'">
    <header>
        <div class="info">
            <h3>Rounak Singh 💁‍♂️</h3>
            <p>Software Engineer<br> HashedIn By Deloitte</p>
        </div>
        <img class="des" src="../assets/rounak.png" style="height: 8vw">
    </header>
    <div class="skills">
        <h3>Skills 🛠</h3>
        <p class="des">Angular, Java, Spring, Selenium, Google Cloud<br>Product Management, Strategy, Operations<br>Leadership, Communication, Organization</p>
        <p class="mob">Angular <br> Java <br> Spring <br> Product Management<br>Strategy <br>Operations <br>Selenium <br>Google Cloud <br>Leadership</p>
    </div>
</div>

<div class="menu" [style.visibility]="isExpVisible ? 'visible' : 'hidden'">
    <header>
        <div class="info">
            <h3>Rounak Singh 💁‍♂️</h3>
            <p>Software Engineer<br> HashedIn By Deloitte</p>
        </div>
        <img class="des" src="../assets/rounak.png" style="height: 8vw">
    </header>
    <div class="skills">
        <h3>Skills 🛠</h3>
        <p class="des">Angular, Java, Spring, Selenium, Google Cloud<br>Product Management, Strategy, Operations<br>Leadership, Communication, Organization</p>
        <p class="mob">Angular <br> Java <br> Spring <br> Product Management<br>Strategy <br>Operations <br>Selenium <br>Google Cloud <br>Leadership</p>
    </div>
</div>